@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav{
    background-color: #232946;
}


nav > a {
    color: #286fc7;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-block;

}


nav > a:hover {
    background-color: rgb(32, 184, 189);
}