@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav{
    background-color: #141f54;
}

body {
    background-color: rgb(132, 147, 186);
}
nav > a {
    color: #f5eaea;
    text-decoration: none;
    padding: 9px 59px;
    display: inline-block;

}


nav > a:hover {
    background-color: rgb(88, 105, 154);
}